# Postgres
export DB_HOSTNAME=localhost
export DB_NAME=s_template_api
export DB_NAME_TEST=s_template_api_test
export DB_NAME_DEV=s_template_api_dev
export DB_USERNAME=postgres
export DB_PASSWORD=postgres
export DB_PORT=5432

# User specific changes
# Overwrite defaults in this file with your own values in .envrc.custom
[ -f .envrc.custom ] && source .envrc.custom
